# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
!jupyter nbextension enable --py gmaps

Config option `kernel_spec_manager_class` not recognized by `EnableNBExtensionApp`.
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
file = "output_data/cities.csv"

cities = pd.read_csv(file)

cities.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Wind Speed,Cloudiness
0,0,Callaway,US,1617122276,30.1530,-85.5699,77.00,65,11.50,75
1,1,Aberdeen,GB,1617122278,57.1437,-2.0981,60.01,72,14.97,100
2,2,Vaini,TO,1617121736,-21.2000,-175.2000,78.80,89,4.61,20
3,3,Bethel,US,1617122281,41.3712,-73.4140,55.99,30,14.97,1
4,4,Saint Paul Harbor,US,1617122282,57.7900,-152.4072,33.80,86,5.75,75

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps
# Source: https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html
gmaps.configure(api_key = g_key)

# define locations and weight
locations = cities[["Latitude", "Longitude"]]
weight = cities["Humidity"]

In [9]:
# generate figure
fig = gmaps.figure(center = (15, 0), zoom_level = 2)

# add heatmap layer
heatmap_layer = gmaps.heatmap_layer(locations, weight)
fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [36]:
ideal_cities = cities.loc[(cities["Max Temperature"] > 60) & (cities["Max Temperature"] < 76) &
                         (cities["Cloudiness"] < 50) & (cities["Humidity"] < 50) & (cities["Wind Speed"] < 8)].dropna()

ideal_cities

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Wind Speed,Cloudiness
42,42,Flers,FR,1617122331,48.7372,-0.5747,75.20,33,5.75,0
76,76,Sayyan,YE,1617122381,15.1718,44.3244,64.18,25,6.73,24
130,130,Mount Holly,US,1617122377,35.2982,-81.0159,68.00,34,6.91,20
132,132,Bariloche,AR,1617122455,-41.1456,-71.3082,75.99,21,3.40,0
219,219,Marzuq,YE,1617122577,14.4000,46.4667,72.97,28,7.43,29
221,221,Morón,AR,1617122391,-34.6534,-58.6198,75.00,44,5.01,0
233,233,Rāvar,IR,1617122597,31.2656,56.8055,62.58,13,5.03,0
237,237,Keighley,GB,1617122603,53.8679,-1.9066,70.00,40,1.14,21
342,342,Safford,US,1617122744,32.8340,-109.7076,68.00,15,5.75,1
411,411,Loikaw,MM,1617122839,19.6742,97.2094,74.32,36,7.90,11
420,420,Gachsaran,IR,1617122851,30.3586,50.7981,69.80,19,3.18,0
481,481,Erzin,TR,1617122931,36.9559,36.2000,68.00,42,5.75,40
482,482,Pahrump,US,1617122932,36.2083,-115.9839,62.01,13,1.01,0
494,494,Mizdah,LY,1617122947,31.4451,12.9801,69.85,15,7.94,33
564,564,Nisibis,TR,1617123050,37.0778,41.2178,62.60,34,1.14,40

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [37]:
hotels = ideal_cities

# add hotel name column
hotels["Hotel Name"] = ""

hotels

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Wind Speed,Cloudiness,Hotel Name
42,42,Flers,FR,1617122331,48.7372,-0.5747,75.20,33,5.75,0,
76,76,Sayyan,YE,1617122381,15.1718,44.3244,64.18,25,6.73,24,
130,130,Mount Holly,US,1617122377,35.2982,-81.0159,68.00,34,6.91,20,
132,132,Bariloche,AR,1617122455,-41.1456,-71.3082,75.99,21,3.40,0,
219,219,Marzuq,YE,1617122577,14.4000,46.4667,72.97,28,7.43,29,
221,221,Morón,AR,1617122391,-34.6534,-58.6198,75.00,44,5.01,0,
233,233,Rāvar,IR,1617122597,31.2656,56.8055,62.58,13,5.03,0,
237,237,Keighley,GB,1617122603,53.8679,-1.9066,70.00,40,1.14,21,
342,342,Safford,US,1617122744,32.8340,-109.7076,68.00,15,5.75,1,
411,411,Loikaw,MM,1617122839,19.6742,97.2094,74.32,36,7.90,11,
420,420,Gachsaran,IR,1617122851,30.3586,50.7981,69.80,19,3.18,0,
481,481,Erzin,TR,1617122931,36.9559,36.2000,68.00,42,5.75,40,
482,482,Pahrump,US,1617122932,36.2083,-115.9839,62.01,13,1.01,0,
494,494,Mizdah,LY,1617122947,31.4451,12.9801,69.85,15,7.94,33,
564,564,Nisibis,TR,1617123050,37.0778,41.2178,62.60,34,1.14,40,

In [45]:
# set up log file print statement
print(f"Beginning Data Retrieval")
print(f"------------------------")


# loop through rows in list
for index, row in hotels.iterrows():
    
    # set up parameters
    lat = row["Latitude"]
    lng = row["Longitude"]
    city = row["City"]
    location = f"{lat}, {lng}"
    
    params = {
        "location": location,
        "radius": 5000,
        "types": "hotel",
        "keyword": "hotel",
        "key": g_key
    }
    
    # set up call
    call_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    
    response = requests.get(call_url, params=params).json()
    output = response['results']
        
    # try statement to append calls where a value is found
    try:
        print(f"Retrieving hotel for {city}")
        print(f"Hotel Name: {output[0]['name']}")
        hotels.loc[index, "Hotel Name"] = output[0]['name']
        print("------------")
    except:
        print(f"No results. Skipping...")
        

print("--------Complete--------")

Beginning Data Retrieval
------------------------
Retrieving hotel for Flers
No results. Skipping...
Retrieving hotel for Sayyan
No results. Skipping...
Retrieving hotel for Mount Holly
No results. Skipping...
Retrieving hotel for Bariloche
No results. Skipping...
Retrieving hotel for Marzuq
No results. Skipping...
Retrieving hotel for Morón
No results. Skipping...
Retrieving hotel for Rāvar
No results. Skipping...
Retrieving hotel for Keighley
No results. Skipping...
Retrieving hotel for Safford
No results. Skipping...
Retrieving hotel for Loikaw
No results. Skipping...
Retrieving hotel for Gachsaran
No results. Skipping...
Retrieving hotel for Erzin
No results. Skipping...
Retrieving hotel for Pahrump
No results. Skipping...
Retrieving hotel for Mizdah
No results. Skipping...
Retrieving hotel for Nisibis
No results. Skipping...
--------Complete--------

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure